page-home {
    .list {
        transition: all 1.5s;
        &.article-open {
            opacity: 0;
        }
        .item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
    }
    .blog {
        h2 {
    font-size: 16px;
}
    }
    .blog-details {
        color: #93a0b3;
        font-size: 14px;
    }
}
