// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
h1, h2, h3 {
      font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

body, p {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
                
}

textarea {
    min-height: 120px;
}

ion-content.content {
    background-color: #f8f9fa;
}

.md {
.special-fab {
    &.-bottom {
        bottom: 4px;
    }
}
}

.ios {
.special-fab {
    &.-bottom {
        bottom: 1px;
    }
}
}

.blog-details, .notifications-details {
        color: #93a0b3;
        font-size: 14px;
    }

.tags {
        > span {
            display: inline-block;
            background-color: color($colors, grey);
            padding: 5px;
            text-transform: uppercase;
            color: $text-color;
            font-size: 1rem;
            border-radius: 5px;
            & + span {
                margin-left: 5px;
            }
        }
    }
