page-interests {
    .notifications {
        &.item-block {
            background-color: #fff;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        h2 {
            font-size: 16px;
        }
        ion-grid, ion-col {
            padding: 0;
        }
    }
    .item-divider {
        ion-label {
            color: #93a0b3;
            margin-bottom: 0px;
        }
    }
}
